{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
    integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link rel="stylesheet" type="text/css" href="{% static 'css/materialize.min.css' %}" media="screen,projection">
  <link type="text/css" rel="stylesheet" href="{% static 'css/main.css' %}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chris Darakjian Portfolio</title>
</head>

<body id="home" class="scrollspy">
  <header class="main-header">
    <div class="primary-overlay">
      <div class="navbar-fixed">
        <nav class="transparent">
          <div class="container">
            <l class="nav-wrapper">
              <a href="#home" class="brand-logo myBlock"></a>
              <a href="#" data-activates="mobile-nav" class="button-collapse">
                <i class="material-icons">menu</i>
              </a>
              <ul class="right hide-on-med-and-down">
                <li>
                  <a href="#home">Home</a>
                </li>
                <li>
                  <a href="#testimonials">Apps</a>
                </li>
                <li>
                  <a href="#about">In-the-Works</a>
                </li>
                <li>
                  <a href="#contact">Contact</a>
                </li>
                <li>
                  <a href="{% static 'download/Resume_Chris_K_Darakjian.docx' %}" class="btn blue">Download Resume</a>
                </li>

                <li>
                  <a href="https://github.com/ckd1618" class="text-white">
                    <i class="fab fa-github fa-lg"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/chris-darakjian/" class="text-white">
                    <i class="fab fa-linkedin-in fa-lg"></i>
                  </a>
                </li>

              </ul>
          </div>
      </div>
      </nav>
    </div>
    <!-- Side nav -->
    <ul class="side-nav" id="mobile-nav">
      <h4 class="blue-grey darken-3 center">BizLand</h4>
      <li>
        <a class="divider"></a>
      </li>
      <li>
        <a href="#home">Home</a>
      </li>
      <li>
        <a href="#testimonials">Apps</a>
      </li>
      <li>
        <a href="#about">In-the-Works</a>
      </li>
      <li>
        <a href="#contact">Contact</a>
      </li>
    </ul>
    <!-- Showcase -->
    <div class="showcase container" id="image-test">
      <div class="row">
        <div class="col s6 main-text">
          <h3>Chris K. Darakjian</h3>
          <h5>Full Stack Web Developer</h5>
          <p>Welcome to my portfolio website, I have built websites using: <br>React <br>Django <br>MEAN Stack <br>Java
            Spring Boot
            <br>Amazon Web Services <br><br> You can reach me most easily at: <br> ckd1618@gmail.com <br>
            (818)984-7959.</p>
          <br>
          <a href="#contact" class="white-text">
            <i class="material-icons medium scroll-icon">arrow_drop_down_circle</i>
          </a>
        </div>
        <div class="col s6 picParent">
          <img src="{% static 'img/myPic3.jpg' %}" alt="my picture" class="circle responsive-img smallerPic">
        </div>
      </div>
    </div>
    </div>
  </header>

  <!-- Section: Boxes -->
  <!-- <section class="section-boxes center">
    <div class="row">
      <div class="col s12 m6 l3 blue white-text box">
        <i class="material-icons medium">show_chart</i>
        <h4>Grow Your Business</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt qui ipsa suscipit amet culpa nisi fugiat in
          aut
          eaque et?</p>
      </div>
      <div class="col s12 m6 l3 purple white-text box">
        <i class="material-icons medium">people</i>
        <h4>Professional Advisors</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt qui ipsa suscipit amet culpa nisi fugiat in
          aut
          eaque et?</p>
      </div>
      <div class="col s12 m6 l3 teal white-text box">
        <i class="material-icons medium">verified_user</i>
        <h4>Secure Your Company</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt qui ipsa suscipit amet culpa nisi fugiat in
          aut
          eaque et?</p>
      </div>
      <div class="col s12 m6 l3 amber darken-4 white-text box">
        <i class="material-icons medium">account_balance</i>
        <h4>Multiply Your Income</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt qui ipsa suscipit amet culpa nisi fugiat in
          aut
          eaque et?</p>
      </div>
    </div>
  </section> -->



  <!-- Section: Testimonials -->
  <section id="testimonials" class="section section-testimonials blue white-text center scrollspy">
    <div class="container">
      <h2>My Deployed Apps</h2>
      <div class="row">
        <div class="col s12 m4">
          <div class="card grey lighten-4 black-text z-depth-4">

            Ecommerce Store
            <a href="http://18.236.69.2/shop/">
              <img style="display: inline;" src="{% static 'img/poofyImg.jpg' %}" alt="website picture"
                class="responsive-img">
            </a>
            Django, AWS EC2, Stripe
            <a href="https://github.com/ckd1618/poofy" class="text-white">
              <i class="fab fa-github fa-lg"></i> (code)
            </a>
            <div class="iframe-container">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/WK3cUs9-3BM" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
            <p class="margin0">
              2 min Video Description
            </p>

          </div>
        </div>
        <div class="col s12 m4">

          <div class="card grey lighten-4 black-text z-depth-4">
            NASA Hackathon Project
            <a href="http://34.216.220.182">
              <img style="display: inline;" src="{% static 'img/disasterImg.jpg' %}" alt="website picture"
                class="responsive-img">
            </a>
            MEAN Stack, AWS EC2
            <a href="https://github.com/ckd1618/disasterCkd" class="text-white">
              <i class="fab fa-github fa-lg"></i> (code)
            </a>
            <div class="iframe-container">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/L0IkEwimYvE" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
            <p class="margin0">
              2 min Video Description
            </p>

          </div>
        </div>
        <div class="col s12 m4">
          <div class="card grey lighten-4 black-text z-depth-4">
            Utube-Yahtzee Game
            <a href="http://utubeyahtzee.s3-website-us-west-2.amazonaws.com">
              <img style="display: inline;" src="{% static 'img/utubeYahtzeeImg.jpg' %}" alt="website picture"
                class="responsive-img">
            </a>
            React, AWS S3
            <a href="https://github.com/ckd1618/UtubeYahtzee" class="text-white">
              <i class="fab fa-github fa-lg"></i> (code)
            </a>
            <div class="iframe-container">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/lyqugGFXftE" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
            <p class="margin0">
              1 min Video Description
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="parallax-container" style="height: 70px;">
    <div class="parallax">
      <img src="{% static 'img/code.jpg' %}" alt="code img">
    </div>
  </div>

  <!-- Section: About -->
  <section id="about" class="scrollspy backgroundEdit">
    <!-- <div class="container"> -->
    <div class="row ">
      <div class="col s12 m6 l3 blue white-text box center mywidth">
        <!-- <i class="material-icons medium">show_chart</i> -->
        <h4 style="padding: 0px;">AI for Trading </h4>
        <h5>(Python)</h5>
        <p>
          </a>Udacity projects designed to use AI techniques
          to aid in
          trading. (Terms 1 & 2) <br><br>
          Tech used: NLP, RNN, LSTM, Random Forests, Jupyter Notebook<br><br>
        </p>
        <a href="https://github.com/ckd1618/ai4trading" class="mycolor">
          <i class="fab fa-github fa-lg"></i>
        </a>

      </div>
      <div class="col s12 m6 l3 purple white-text box center mywidth">
        <h4 style="padding: 0px;">"Ideas" App </h4>
        <h5>(Java Spring Boot)</h5>
        <p>
          Users can register and post ideas to a dashboard, and can “like” posts they read. Utilizes CRUD. <br><br>
          Tech used: Spring Boot, MySQL, HTML, CSS<br><br>
        </p>
        <a href="https://github.com/ckd1618/java_springboot_app" class="mycolor">
          <i class="fab fa-github fa-lg"></i>
        </a>
      </div>
      <div class="col s12 m6 l3 teal white-text box center mywidth">

        <h4 style="padding: 0px;">Notes in Real-Time</h4>
        <h5>(React & Django)</h5>
        <p>
          Users can chat together in real-time using websockets. <br><br>
          Tech used: Websocket, Docker, Redis, React, Django, Bootstrap, SQLite, HTML, CSS<br><br>
        </p>
        <a href="https://github.com/ckd1618/notes" class="mycolor">
          <i class="fab fa-github fa-lg"></i>
        </a>
      </div>
      <div class="col s12 m6 l3 amber darken-4 white-text center box mywidth">
        <h4 style="padding: 0px;">Serverless Chat</h4>
        <h5>(AWS Lambda)</h5>
        <p>
          Users can register and chat without a server using a number of AWS services. <br><br>
          AWS: Lambda, DynamoDB, CloudFront, IAM, S3, Cognito<br><br>
        </p>
        <a href="https://github.com/ckd1618/ChatOnline_AWSLambda" class="mycolor">
          <i class="fab fa-github fa-lg"></i>
        </a>
      </div>
    </div>
    <!-- </div> -->
  </section>

  <!-- Section: Contact -->
  <section id="contact" class="section section-contact center scrollspy noPadding">
    <div class="parallax-container">
      <div class="parallax">
        <img src="{% static 'img/code.jpg' %}" alt="code img">

        <div class="container">
          <div class="row">
            <div class="col s12 m6 offset-m6">
              <div class="card-panel z-depth-5">
                <form name="myForm" action="/createNote" method="POST" onsubmit="return validateForm()">
                  {% csrf_token %}
                  <h4>Contact Me</h4>
                  <div class="input-field">
                    <input type="text" id="name" name="name" placeholder="Name">
                    <label for="name">Name</label>
                  </div>
                  <div class="input-field">
                    <input type="email" id="email" name="email" placeholder="Email">
                    <label for="email">Email</label>
                  </div>
                  <div class="input-field">
                    <textarea class="materialize-textarea" name="message" id="message" placeholder="Message"></textarea>
                    <label for="message">Message</label>
                  </div>
                  <input type="submit" value="Submit" class="btn blue-grey">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="page-footer blue-grey darken-4">
    <div class="footer-copyright blue-grey darken-4">
      <div class="container">
        Chris K. Darakjian &emsp; (818) 984-7959 &emsp; ckd1618@gmail.com
        <a class="grey-text text-lighten-4 right" href="#home">
          <i class="material-icons left">keyboard_arrow_up</i> Back To Top

        </a>
      </div>
    </div>
  </footer>


  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
  <script>
    $(document).ready(function () {
      // Init Sidenav
      $('.button-collapse').sideNav();

      // Init Scrollspy
      $('.scrollspy').scrollSpy();

      $('.parallax').parallax();

      // ScrollFire
      const options = [
        {
          selector: '.main-text', offset: 0, callback: function (el) {
            Materialize.fadeInImage($(el));
          }
        },
      ];


    });
  </script>




  <!-- In-the-Works -->

  <script>
    function validateForm() {
      var x = document.forms["myForm"]["name"].value;
      var y = document.forms["myForm"]["email"].value;
      var z = document.forms["myForm"]["message"].value;

      if (x == "" || y == "" || z == "") {
        alert("Please fill out the form prior to submission.");
        return false;
      } else {
        alert("Your message was successfully sent. Please allow 24 hours for a response.")
        return true;
      }
    }
    var options = [
      { selector: '#image-test', offset: 500, callback: 'Materialize.fadeInImage("#image-test")' },
      {
        selector: '.navbar-fixed', offset: 1500, callback: function () {
          $('nav').removeClass('transparent');
          $('nav').addClass('blue-grey darken-3');
        }
      }
    ];
    Materialize.scrollFire(options);


  </script>

</body>

</html>